#uzdra_gallery_title {
    margin-top: 30px;
}

#uzdra_gallery_images {
    padding-top: 15px;
}

#uzdra_gallery_images {
    display: flex;
    flex-wrap: wrap;
}

.uzdra_gallery_image img {
    margin: 10px;
    width: 100px;
    height: 100px;
}
